p{
    color: rgb(255, 230, 0);
    background-color: aqua;
    background-image: url(../web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.webp)
    
    
    
    
    ;

}

